# Entorno virtual de Python (NO subir nunca)
venv/
ENV/
.env
.venv/
env/

# Cosas mias
*.png
*.txt
AGENTS.md
session-ses_217b.md

pngs/*

# Base de datos SQLite
*.db

# Almacenamiento fisico de archivos subidos
storage/*
!storage/.gitkeep

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build y distribucion
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Tests y coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs
*.log

# IDEs y editores
.idea/
.vscode/
.project
.settings/
*.swp
*.swo
*~

# OS especificos
.DS_Store
Thumbs.db
ehthumbs.db
